<a href="https://colab.research.google.com/github/Jnfagundes/_portifolio/blob/master/Praticando_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Somando dois valores')
n1 = int(input('Digite um número: '))
n2 = int(input('Digite outro número: '))
soma = n1 + n2
print(f'A soma de {n1} com {n2} é igual {soma}')
print(f'A média é {(n1+n2)/2}')

Somando dois valores
Digite um número: 25
Digite outro número: 67
A soma de 25 com 67 é igual 92
A média é 46.0

In [ ]:
print('Analisando um dado')
algo = input('digite algo'  )
print(f'O tipo primitivo desse algo é {type(algo)}')
print(f'Tem espaços?  {algo.isspace()}')
print(f'É númerico? {algo.isnumeric()}')
print(f'É alfabético? {algo.isalpha()}')
print(f'É alfanumérico? {algo.isalnum()}')
print(f'Está em maiuscula? {algo.isupper()}')
print(f'Está em minúsculo? {algo.islower()}')

Analisando um dado
digite algodado
O tipo primitivo desse algo é <class 'str'>
Tem espaços?  False
É númerico? False
É alfabético? True
É alfanumérico? True
Está em maiuscula? False
Está em minúsculo? True

In [ ]:
print('Antecessor e sucessor')
n = int(input('Digite um valor do tipo inteiro: '))
a = n - 1
su = n + 1
print(f' O número digitado é {n}, seu antecessor é {a} e seu sucessor é {su}')

Antecessor e sucessor
Digite um valor do tipo inteiro: 55
 O número digitado é 55, seu antecessor é 54 e seu sucessor é 56

In [ ]:
print('Dobro, triplo e raiz quadrada')
n = int(input('Digite um valor do tipo inteiro: '))
print(f'Seu dobro é {n*2} ' )
print(f'Seu triplo é {n*3} ')
print(f'Sua raiz quadrada é {n**(1/2)}')

Dobro, triplo e raiz quadrada
Digite um valor do tipo inteiro: 9
Seu dobro é 18
Seu triplo é 27
Sua raiz quadrada é 3.0

In [ ]:
print('Conversor')
m = float(input('Digite um valor em metros: '))
print(f'{m}m equivale a {m * 100}cm  ')
print(f'{m}m equivale a {m*1000}mm')

Conversor
Digite um valor em metros: 3.5
3.5m equivale a 350.0cm
3.5m equivale a 3500.0mm

In [ ]:
from random import randint 
print('Tabuada')
num = int(input('Digite o valor do qual deseja saber a tabuada:  '))
print('''Escolha uma opção:,
          1 -> soma,
          2 -> subtração,
          3 -> divisão,
          4 -> multiplicação''')
operação = int(input('Qual operação deseja realizar?  '))
if operação == 1: # Se operação for igual a 1 faça
  for n in range(0,11): # Para n dentro do range que começa em 0 e vai até 10 faça
    print(f'{num} + {n} = {num + n}') # Imprima num + n

elif operação == 2:
  for n in range(0,11):
    print(f'{num} - {n} = {num - n}')
  
elif operação == 3:
  for n in range(0,11):
    print(f'{num} / {n} = {num // n}')  

else:
  for n in range(0,11):
    print(f'{num} * {n} = {num * n}')

Tabuada
Digite o valor do qual deseja saber a tabuada:  2
Escolha uma opção:,
          1 -> soma,
          2 -> subtração,
          3 -> divisão,
          4 -> multiplicação
Qual operação deseja realizar?  1
2 + 0 = 2
2 + 1 = 3
2 + 2 = 4
2 + 3 = 5
2 + 4 = 6
2 + 5 = 7
2 + 6 = 8
2 + 7 = 9
2 + 8 = 10
2 + 9 = 11
2 + 10 = 12

In [ ]:
import math
nu = float(input('Digite um valor do tipo real: '))
print(f'O número {nu} tem {math.trunc(nu)} como sua parte inteira.')
print(f'O número {nu} tem {int(nu)} como sua parte inteira.')

Digite um valor do tipo real: 9.32
O número 9.32 tem 9 como sua parte inteira.
O número 9.32 tem 9 como sua parte inteira.

In [2]:
print('Calculando o comprimento da hipotenusa')
a = float(input('Digite o valor do cateto oposto: '))
b = float(input('Digite o valor do cateto adjacente: '))
h = ((a*a) +(b*b)) ** (1/2)
print(f'O comprimento da hipotenusa é: {h}')
print(f'O comprimento da hipotenusa é: {((a*a)+(b*b)) ** (1/2)}')

Calculando o comprimento da hipotenusa
Digite o valor do cateto oposto: 9
Digite o valor do cateto adjacente: 12
O comprimento da hipotenusa é: 15.0
O comprimento da hipotenusa é: 15.0

In [9]:
import random
print('Sorteando um nome ')
alunos = []
a = 0
while a < 4:
  aluno = str(input('Digite o nome do aluno:  '))
  alunos.append(aluno)
  print(f'O {a+1}º aluno é {aluno}')
  a = a + 1
escolhido = random.choice(alunos) # O método choice() escolhe algo dentro de uma lista

print('========== Escolhendo =============')
print(f'O escolhido(a) foi {escolhido}')

Sorteando um nome
Digite o nome do aluno:  José
O 1º aluno é José
Digite o nome do aluno:  Anna
O 2º aluno é Anna
Digite o nome do aluno:  Allan
O 3º aluno é Allan
Digite o nome do aluno:  Thalita
O 4º aluno é Thalita
========== Escolhendo =============
O escolhido(a) foi Anna

In [10]:
import random
print('Sorteando um nome ')
alunos = []
a = 0
while a < 4:
  aluno = str(input('Digite o nome do aluno:  '))
  alunos.append(aluno)
  print(f'O {a+1}º aluno é {aluno}')
  a = a + 1
random.shuffle(alunos) # O método shuffle() embaralha os valores da lista
print(f'A ordem de apresentação será {alunos}')

Sorteando um nome
Digite o nome do aluno:  José
O 1º aluno é José
Digite o nome do aluno:  Allan
O 2º aluno é Allan
Digite o nome do aluno:  Thalita
O 3º aluno é Thalita
Digite o nome do aluno:  Agatha
O 4º aluno é Agatha
A ordem de apresentação será ['Thalita', 'Allan', 'Agatha', 'José ']